
<mat-toolbar mat-dialog-title role="toolbar" class="zero-padding" fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z8">
  <span fxLayoutAlign="start center">Rimuovere l'utente selezionato?</span>
  <mat-icon [mat-dialog-close]="false" class="pointer" style="font-size: 20px" >close</mat-icon>
</mat-toolbar>






<mat-dialog-content class="dialog-content">

  <div style="text-align: center">
    <mat-card-content>
      <div style="margin-bottom: 25px" >
        <button class="button-primary" mat-button [mat-dialog-close]="true" style="width: 60%">Rimuovi utente</button>
      </div>
    </mat-card-content>
  </div>


</mat-dialog-content>


