
<mat-toolbar mat-dialog-title role="toolbar" class="zero-padding" fxLayout="row" fxLayoutAlign="space-between center" class="mat-elevation-z8">
  <span fxLayoutAlign="start center">Modifica password</span>
  <mat-icon (click)="noAdd()" class="pointer" style="font-size: 20px" >close</mat-icon>
</mat-toolbar>






<mat-dialog-content class="dialog-content">

  <mat-card-content>


        <form #form style="text-align: center" class="example-form" [formGroup]="formcredeziali" (ngSubmit)="salvaUtente()">
          <div>
            <mat-form-field style="width: 80%;margin-bottom: 5px">
              <input type="password" matInput placeholder="Password"  name="password"  formControlName="password" >
              <div [hidden]="!showerror"
                   style="color: red">La password deve coincidere con la conferma</div>
            </mat-form-field>
          </div>

          <div>

            <mat-form-field style="width: 80%">
              <input type="password" matInput placeholder="Conferma password"  name="confirm"  formControlName="conferma">
              <div [hidden]="!showerror"
                   style="color: red">La password deve coincidere con la conferma</div>


            </mat-form-field>
          </div>


          <ng-template matStepLabel>Fatto</ng-template>
          <div class="padding-t" >
            <button class="button-primary" mat-button style="width: 20%">Conferma</button>
          </div>

        </form>











  </mat-card-content>

</mat-dialog-content>
